<div class="d-flex justify-content-end align-items-center flex-column" style="height:130px;">
	@if (_isFinished)
	{
		<img src="images/chequered-flag.png" />
	}
	else
	{
		<div class="laps-counter text-center">
			<h4 style="margin-bottom:0" class="@(_isFinished ? "flickering" : "")">Lap @_lapNumber/@(_laps?.Count.ToString() ?? "---")</h4>
		</div>
	}

	<div class="time-board d-flex" style="@_borderStyles" @onclick="StartAsync">
		<div style="@_positionStyles" class="position flex-shrink-0 d-flex justify-content-center align-items-center">
			<h2>@_position</h2>
		</div>
		<div class="timing flex-grow-1">
			<div class="name">
				<p style="margin-bottom:0px">Ahmad Mozaffar</p>
			</div>
			<div class="timer  d-flex justify-content-@(_isPreview ? "center" : "start") align-items-center">
				<h2 class="@_timingClasses" style="@_timingStyles">@_time</h2>
			</div>
		</div>
	</div>

</div>

<style>
	.time-board {
		border-bottom-right-radius: 30px;
		border-top-left-radius: 30px;
		border-top-right-radius: 2px;
		border-bottom-left-radius: 2px;
		border: 4px solid gray;
		background-color: gray;
		overflow: hidden;
		width: 330px;
		height: 70px;
	}

	.position {
		width: 55px;
		height: 70px;
		background-color: gray;
		box-shadow: rgba(0,0,0,0.3) 1px 3px 5px 1px;
	}

	.time-board h2 {
		font-family: Rugen;
		font-weight: 200;
		color: white;
		font-style: italic;
		font-size: 30px;
	}

	.name {
		font-family: Rugen;
		color: white; 
		font-weight: 100; 
		font-size: 10px;
		padding: 2px;
		background: rgba(25, 25, 25);
		text-align: center;
	}
	
	.timer {
		background-color: #616161;
	}

	.laps-counter {
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		background-color: rgba(76, 76, 76);
		font-family: Rugen;
		color: white;
		width: 165px;
	}
	
	img {
		width: 100px;
	}
</style>

